---
title: Exercice de guitare
---

{% extends "layouts/base.html" %} {% block content %}
<main>
  <h1>Exercices de guitare</h1>
  <ul role="list" class="flow">
    <li class="card">
      <h2>Connaître le manche</h2>
      <p>
        Une série d'exercices pour apprendre à connaître les notes sur tout le
        manche de la guitare.
      </p>
      <a class="cta" href="/fretboard">Voir les exercices</a>
    </li>
    <li class="card">
      <h2>"Play the changes"</h2>
      <p>
        Des morceaux à jouer sans backing track, avec un simple métronome sur 2
        et 4.
      </p>
      <a class="cta" href="/changes">Voir les morceaux</a>
    </li>
  </ul>
</main>
{% endblock %}
