---
pagination:
  data: standards
  size: 1
  alias: standard
  addAllPagesToCollections: true
permalink: "changes/{{ standard.name | slug }}/"
tags: standards
eleventyComputed:
  name: "{{ standard.name }}"
---
{% extends "layouts/base.html" %}

{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/tone@14.7.58/build/Tone.min.js"></script>
{% endblock %}

{% block content %}
  <main class="changes">
    <h1>{{ standard.name }}</h1>
    <section class="with-sidebar">
      <div>
        <div class="controls">
          <div>
            <button id="play-button">Play</button
            ><button class="inactive" id="pause-button">Pause</button>
          </div>
          <div class="bpm-controls">
            <label for="bpm-slider">BPM</label>
            <input
              value="100"
              id="bpm-slider"
              type="range"
              min="60"
              max="220"
              step="10"
            />
            <span id="bpm">100</span>
          </div>
        </div>
        <div>
          <div id="current-chord"></div>
          <div id="current-beat"></div>
        </div>
      </div>
    </section>
  </main>
    <script src="https://cdn.jsdelivr.net/npm/tone@14.7.58/build/Tone.min.js"></script>
    <script>
      const changes = '{{ standard.changes | json | safe }}';
    </script>
  <script src="/js/changes/changes.js"></script>
{% endblock %}
