---
title: Connaître le manche de la guitare
---

{% extends "layouts/base.html" %} {% block content %}
<main>
  <h1>Connaître le manche de la guitare</h1>
  <ul role="list" class="flow">
    <li class="card">
      <h2>Les notes "naturelles"</h2>
      <p>
        On commence par apprendre les notes de la gamme de Do. Pour chaque note
        choisie au hasard, on joue cette note sur chaque corde, en commençant
        par la corde de Mi grave jusqu'au Mi aigu, puis on redescent jusqu'au Mi
        grave. Répéter trois fois sans erreur avant de passer à la note
        suivante.
      </p>
      <a class="cta" href="/fretboard/exercice1">Commencer</a>
    </li>
    <li class="card">
      <h2>Les notes altérées</h2>
      <p>
        Même exercice que le précédent, cette fois-ci avec les notes altérées.
      </p>
      <a class="cta" href="/fretboard/exercice2">Commencer</a>
    </li>
  </ul>
</main>
{% endblock %}
